<h1>railsを活用した体重管理アプリ</h1>
<p>2日間の体重を入力して、増加したら画像1 減量したら画像2
</p>

<%= link_to '今すぐやってみる！', new_input_weight_path, class: "btn btn-lg btn-primary" %>

<%= image_tag 'rails.svg', alt: 'railsロゴ', width: "100px" %>
<%#= link_to image_tag("rails.svg", alt: "Rails logo", width: "200")%>



