<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class = "center">
  <%= image_tag 'rails.svg', alt: 'railsロゴ', width: "100px" %>
  <%#= link_to image_tag("rails.svg", alt: "Rails logo", width: "200")%>
  <h1>railsを活用した体重管理アプリ</h1>

  
  <p>体重を2日分入力すると、その変化に応じて画像が切り替わります</p>
  <%= link_to '今すぐやってみる！', new_input_weight_path, class: "btn btn-lg btn-primary" %>
</body>
</html>